.app-enter{
    opacity: 0;
    transform:translateX(100%);
}
.app-enter.app-enter-active{
    opacity: 1;
    transform:translateX(0);
    transition: all 1s ease-in;
}
.app-leave{
    opacity: 1;
    transform:translateX(0);
}
.app-leave.app-leave-active{
    opacity: 0;
    transform:translateX(-5%);
    transition: all 500ms ease-in;
}
.main{
    padding: 20px;
    position: absolute;
    left: 200px;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    transition:all .5s linear;
}
.main.main-collapse{
    left: 64px;
}
.container{
    position: absolute;
}