.about{
    width: 100%;
    padding-left: 50px;
}
.about>h2{
    text-align: center;
    margin-bottom: 50px;
}
.about-main{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    /* justify-content: center; */
}
.about-main-item{
    display: flex;
    font-size: 20px;
    align-items: center;
    /* flex-grow:1; */
    width: 300px;
    margin-bottom: 20px;
}
.about-main-item>i{
    font-size: 50px;
    margin-right: 5px;
}
.about-right{

}